[submodule "docs/methodology/dev-lifecycle"]
	path = docs/methodology/dev-lifecycle
	url = https://codeberg.org/davirain/dev-lifecycle.git
[submodule "vendor/fff.nvim"]
	path = vendor/fff.nvim
	url = https://github.com/dmtrKovalenko/fff.nvim.git
